html
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#title
{
  color: white;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  display: block;
}


#subTitle
{
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  display: block;
}

#application
{
  text-align: center;
  margin-top: 10%;
  display: block;
  background-color: white;
  border-radius: 15px;
  height: 500px;
}

#intestazione
{
  color: black;
  margin-top: 5%;
  display: block;
  position:
}